/* /General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 3%, rgba(208,241,7,1) 41%, rgba(208,241,7,1) 41%, rgba(236,28,5,1) 77%);
  /* background: url(./skyline-daytime.jpg) no-repeat center center/cover; */
}
.container {
  width: 550px;
  height: 450px;
}

.header {
  font-size: 1.2rem;
  border: 2px solid #fff;
  color: #fff;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 91%, rgba(252,176,69,1) 100%);
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
}
.header:hover{
  background: rgb(131,58,180);
  background: linear-gradient(90deg,rgba(252,176,69,1) 0%, rgba(253,29,29,1) 31%, rgba(131,58,180,1) 100%);
}
.main-container {
  width: 100%;
  height: 300px;
  
  border-radius: 15px;
  padding: 50px 40px;
  box-shadow: 0 0 10px;
  background: rgb(242, 240, 243);
background: linear-gradient(90deg, rgb(200, 184, 211) 0%, rgb(160, 120, 120) 91%, rgb(109, 96, 76) 100%);
}
.main-container:hover{
  border: 1px solid red;
  box-shadow: 5px 5px #f5f2f200;
  
}
.main-container .text-area {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.main-container .person {
  font-size: 1.6rem;
  color: red;
  text-transform: uppercase;
  margin-top: 20px;
}
.button-area button {  
  color: #fff;
  font-size: 1.3rem;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg,rgba(252,176,69,1) 0%, rgba(253,29,29,1) 31%, rgba(131,58,180,1) 100%);
}
.button-area button:hover{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 91%, rgba(252,176,69,1) 100%);
  
}
.button-area buttton:active {
  background-color: lightblue;
}
